In [ ]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [ ]:

df_train=pd.read_csv(".../Twitter sentiment/train.csv")
df_test=pd.read_csv('.../Twitter sentiment/test.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
print(df_train.shape)
df=df_train.append(df_test, ignore_index = True, sort = False)
df.head()

(31962, 3)

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

#Data cleaning

In [ ]:
import nltk
import re

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Step A : Converting html entities

In [ ]:
from html.parser import HTMLParser
html_parser = HTMLParser()
df['clean_tweet'] = df['tweet'].apply(lambda x: html_parser.unescape(x))
df.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   id  ...                                        clean_tweet
0   1  ...   @user when a father is dysfunctional and is s...
1   2  ...  @user @user thanks for #lyft credit i can't us...
2   3  ...                                bihday your majesty
3   4  ...  #model   i love u take with u all the time in ...
4   5  ...             factsguide: society now    #motivation
5   6  ...  [2/2] huge fan fare and big talking before the...
6   7  ...   @user camping tomorrow @user @user @user @use...
7   8  ...  the next school year is the year for exams.ð...
8   9  ...  we won!!! love the land!!! #allin #cavs #champ...
9  10  ...   @user @user welcome here !  i'm   it's so #gr...

[10 rows x 4 columns]

Step B: Count of each label with percent before the data cleaning

In [ ]:
def count_values_in_column(data,feature):
 total=data.loc[:,feature].value_counts(dropna=False)
 percentage=round(data.loc[:,feature].value_counts(dropna=False,normalize=True)*100,2)
 return pd.concat([total,percentage],axis=1,keys=["Total","Percentage"])
#Count_values for sentiment
count_values_in_column(df,"label")

     Total  Percentage
0.0  29720       60.46
NaN  17197       34.98
1.0   2242        4.56

Step C : Removing "@user" from all the tweets

In [ ]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt

In [ ]:
df['clean_tweet'] = np.vectorize(remove_pattern)(df['clean_tweet'], "@[\w]*") 
df

          id  ...                                        clean_tweet
0          1  ...    when a father is dysfunctional and is so sel...
1          2  ...    thanks for #lyft credit i can't use cause th...
2          3  ...                                bihday your majesty
3          4  ...  #model   i love u take with u all the time in ...
4          5  ...             factsguide: society now    #motivation
...      ...  ...                                                ...
49154  49155  ...  thought factory: left-right polarisation! #tru...
49155  49156  ...  feeling like a mermaid ð #hairflip #neverre...
49156  49157  ...  #hillary #campaigned today in #ohio((omg)) & u...
49157  49158  ...  happy, at work conference: right mindset leads...
49158  49159  ...  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 4 columns]

Step D : Replacing Numbers (integers) with space

In [ ]:
df['clean_tweet'] = df['clean_tweet'].str.replace("[^a-zA-Z]", " ") 
df

          id  ...                                        clean_tweet
0          1  ...    when a father is dysfunctional and is so sel...
1          2  ...    thanks for  lyft credit i can t use cause th...
2          3  ...                                bihday your majesty
3          4  ...   model   i love u take with u all the time in ...
4          5  ...             factsguide  society now     motivation
...      ...  ...                                                ...
49154  49155  ...  thought factory  left right polarisation   tru...
49155  49156  ...  feeling like a mermaid       hairflip  neverre...
49156  49157  ...   hillary  campaigned today in  ohio  omg     u...
49157  49158  ...  happy  at work conference  right mindset leads...
49158  49159  ...  my   song  so glad  free download    shoegaze ...

[49159 rows x 4 columns]

Step E : Removing words of length less then 3

In [ ]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
df

       label  ...                                         tidy_tweet
0          0  ...  when father dysfunctional selfish drags kids i...
1          0  ...  thanks #lyft credit cause they offer wheelchai...
2          0  ...                                bihday your majesty
3          0  ...                         #model love take with time
4          0  ...                     factsguide society #motivation
...      ...  ...                                                ...
31957      0  ...                                         that youuu
31958      0  ...  nina turner airwaves trying wrap herself mantl...
31959      0  ...                listening songs monday morning work
31960      1  ...    #sikh #temple vandalised #calgary #wso condemns
31961      0  ...                                       thank follow

[31962 rows x 3 columns]

Step F : Spelling Correction - With TextBlob Library

In [ ]:
from textblob import TextBlob

text = df['clean_tweet'][0:10].apply(lambda x: str(TextBlob(x).correct()))
text

0      when a father is dysfunctional and is so sel...
1      thanks for  left credit i can t use cause th...
2                                  midday your majesty
3     model   i love u take with u all the time in ...
4               factsguide  society now     motivation
5          huge fan fare and big talking before the...
6                     camping tomorrow        dandy
7    the next school year is the year for exam     ...
8    we won    love the land     allen  caps  champ...
9                welcome here    i m   it s so  gr
Name: clean_tweet, dtype: object

In [ ]:
df['tweet_token'] = df['clean_tweet'].apply(lambda x: word_tokenize(x))

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

df['tweet_token_filtered'] = df['tweet_token'].apply(lambda x: [word for word in x if not word in stop_words])

df[['tweet_token', 'tweet_token_filtered']].head(10)

                                         tweet_token                               tweet_token_filtered
0  [when, a, father, is, dysfunctional, and, is, ...  [father, dysfunctional, selfish, drags, kids, ...
1  [thanks, for, lyft, credit, i, can, t, use, ca...  [thanks, lyft, credit, use, cause, offer, whee...
2                            [bihday, your, majesty]                                  [bihday, majesty]
3  [model, i, love, u, take, with, u, all, the, t...                [model, love, u, take, u, time, ur]
4             [factsguide, society, now, motivation]                  [factsguide, society, motivation]
5  [huge, fan, fare, and, big, talking, before, t...  [huge, fan, fare, big, talking, leave, chaos, ...
6                         [camping, tomorrow, danny]                         [camping, tomorrow, danny]
7  [the, next, school, year, is, the, year, for, ...  [next, school, year, year, exams, think, schoo...
8  [we, won, love, the, land, allin, cavs, champi...  [love, land, allin, cavs, champions, cleveland...
9               [welcome, here, i, m, it, s, so, gr]                                      [welcome, gr]

We will create 2 new columns

*   One For Stemming
*   Second For Lemmatization

Stemming - Stemming refers to the removal of suffices, like “ing”, “ly”, “s”, etc. by a simple rule-based approach.

In [ ]:
from nltk.stem import PorterStemmer
stemming = PorterStemmer()

df['tweet_stemmed'] = df['tweet_token_filtered'].apply(lambda x: ' '.join([stemming.stem(i) for i in x]))
df['tweet_stemmed'].head(10)

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit use caus offer wheelchair va...
2                                       bihday majesti
3                          model love u take u time ur
4                              factsguid societi motiv
5    huge fan fare big talk leav chao pay disput ge...
6                                  camp tomorrow danni
7    next school year year exam think school exam h...
8    love land allin cav champion cleveland clevela...
9                                            welcom gr
Name: tweet_stemmed, dtype: object

Lemmatization - Lemmatization is the process of converting a word to its base form

In [ ]:
from nltk.stem.wordnet import WordNetLemmatizer
lemmatizing = WordNetLemmatizer()

df['tweet_lemmatized'] = df['tweet_token_filtered'].apply(lambda x: ' '.join([lemmatizing.lemmatize(i) for i in x]))
df['tweet_lemmatized'].head(10)

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit use cause offer wheelchair ...
2                                       bihday majesty
3                          model love u take u time ur
4                        factsguide society motivation
5    huge fan fare big talking leave chaos pay disp...
6                               camping tomorrow danny
7    next school year year exam think school exam h...
8    love land allin cavs champion cleveland clevel...
9                                           welcome gr
Name: tweet_lemmatized, dtype: object

Extracting Features from Cleaned Tweets


A - Bag-of-Words Feature

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')


bow_stem = bow_vectorizer.fit_transform(df['tweet_stemmed'])
bow_stem

<49159x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 203168 stored elements in Compressed Sparse Row format>

In [ ]:
bow_lemm = bow_vectorizer.fit_transform(df['tweet_lemmatized'])
bow_lemm

<49159x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 187064 stored elements in Compressed Sparse Row format>

B- TF-IDF Features

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
tfidf_vectorizer

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=0.9, max_features=1000,
                min_df=2, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [ ]:
tfidf_stem = tfidf_vectorizer.fit_transform(df['tweet_stemmed'])
tfidf_stem

<49159x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 203168 stored elements in Compressed Sparse Row format>

In [ ]:
tfidf_lemm = tfidf_vectorizer.fit_transform(df['tweet_lemmatized'])
tfidf_lemm

<49159x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 187064 stored elements in Compressed Sparse Row format>

#Model Fitting

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

A Building model using Bag-of-Words features

In [ ]:
# A.1 For columns "combine_df['tweet_stemmed']"
train_bow = bow_stem[:31962,:]
test_bow = bow_stem[31962:,:]

# splitting data into training and validation set
xtrain_bow, xvalid_bow, ytrain, yvalid = train_test_split(train_bow, df_train['label'], random_state=42, test_size=0.3)

lreg = LogisticRegression()
lreg.fit(xtrain_bow, ytrain) # training the model

prediction = lreg.predict_proba(xvalid_bow) # predicting on the validation set
prediction_int = prediction[:,1] >= 0.3 # if prediction is greater than or equal to 0.3 than 1 else 0
prediction_int = prediction_int.astype(np.int)

A1 = f1_score(yvalid, prediction_int) # calculating f1 score
print(A1)

0.5529801324503311

In [ ]:
train_bow = bow_lemm[:31962,:]
test_bow = bow_lemm[31962:,:]

# splitting data into training and validation set
xtrain_bow, xvalid_bow, ytrain, yvalid = train_test_split(train_bow, df_train['label'], random_state=42, test_size=0.3)

lreg = LogisticRegression()
lreg.fit(xtrain_bow, ytrain) # training the model

prediction = lreg.predict_proba(xvalid_bow) # predicting on the validation set
prediction_int = prediction[:,1] >= 0.3 # if prediction is greater than or equal to 0.3 than 1 else 0
prediction_int = prediction_int.astype(np.int)

A2 = f1_score(yvalid, prediction_int) # calculating f1 score
print(A2)

0.5376712328767123

B Building model using TF-IDF features

In [ ]:
train_tfidf = tfidf_stem[:31962,:]
test_tfidf = tfidf_stem[31962:,:]

xtrain_tfidf = train_tfidf[ytrain.index]
xvalid_tfidf = train_tfidf[yvalid.index]

lreg.fit(xtrain_tfidf, ytrain)

prediction = lreg.predict_proba(xvalid_tfidf)
prediction_int = prediction[:,1] >= 0.3
prediction_int = prediction_int.astype(np.int)

B1 = f1_score(yvalid, prediction_int) # calculating f1 score
print(B1)

0.551056338028169

In [ ]:

train_tfidf = tfidf_lemm[:31962,:]
test_tfidf = tfidf_lemm[31962:,:]

xtrain_tfidf = train_tfidf[ytrain.index]
xvalid_tfidf = train_tfidf[yvalid.index]

lreg.fit(xtrain_tfidf, ytrain)

prediction = lreg.predict_proba(xvalid_tfidf)
prediction_int = prediction[:,1] >= 0.3
prediction_int = prediction_int.astype(np.int)

B2 = f1_score(yvalid, prediction_int) # calculating f1 score
print(B2)

0.5415549597855227

Result of Logistic Regression

In [ ]:
print("F1 - Score Chart")
print("* F1-Score - Model using Bag-of-Words features")
print("   F1-Score = ",A1," - For column tweets are stemmed")
print("   F1-Score = ",A2," - For column tweets are Lemmatized")
print("* F1-Score - Model using TF-IDF features")
print("   F1-Score = ",B1," - For column tweets are stemmed")
print("   F1-Score = ",B2," - For column tweets are Lemmatized")

F1 - Score Chart
* F1-Score - Model using Bag-of-Words features
   F1-Score =  0.5529801324503311  - For column tweets are stemmed
   F1-Score =  0.5376712328767123  - For column tweets are Lemmatized
* F1-Score - Model using TF-IDF features
   F1-Score =  0.551056338028169  - For column tweets are stemmed
   F1-Score =  0.5415549597855227  - For column tweets are Lemmatized